html {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: block;
  min-height: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.4;
  color: rgb(204, 204, 204);
  background-color: rgb(0, 36, 81);
}

header {
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  z-index: 1000;
  text-align: left;
  background-color: rgb(0, 28, 64);
}

header nav {
  position: relative;
  display: block;
  width: 100%;
}

header nav ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-right: 0px;
  list-style: none;
  list-style-image: none;
  line-height: 50px;
}

header nav ul li {
  display: inline-block;
  margin: 0px 5px;
}

header nav ul.main {
  float: left;
}

header nav ul.social {
  float: right;
}

header nav ul.social li {
  float: right;
  font-size: 120%;
  margin: 0px 8px;
}

header .title {
  font-family: "Roboto Mono", monospace;
  font-size: 24px;
  padding-left: 16px;
}

a {
  text-decoration: none;
  color: rgb(187, 218, 255);
}

h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 28px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Libre Baskerville", monospace;
  font-size: 28px;
  margin-bottom: 0px;
}

article {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
}

hr {
  border: 0;
  width: 75%;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 32px;
  background: rgb(187, 218, 255);
}

.date-time {
  color: rgb(255, 120, 130);
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

.container {
  position: relative;
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto;
  padding: 50px 20px 50px 20px;
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 16px;
  display: block;
  background-color: rgb(0, 28, 64);
  font-size: 75%;
  text-align: left;
  font-family: "Roboto Mono", monospace;
}

pre {
  border-left: 8px solid rgb(0, 28, 64);
  padding-left: 8px;
}

pre code {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  background-color: transparent;
}

blockquote {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  color: rgb(235, 187, 255);
}

.footnotes {
  font-size: 11px;
  text-align: left;
}

.footnote-ref {
  font-weight: 700;
  color: rgb(187, 218, 255);
}

.music-track {
  padding: 8px;
}

.album-art {
  border-radius: 8px;
  width: 160px;
  height: 160px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.track-details {
  text-align: left;
  padding-top: 0px;
  margin-top: 0px;
}

.track-name {
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Libre Baskerville", monospace;
  font-size: 28px;
}

.track-artist {
  margin-top: -24px;
  font-family: "Libre Baskerville", monospace;
  font-size: 18px;
  color: rgb(255, 120, 130);
}

.track-links {
  margin-top: 34px;
}

.track-comment {
  padding-top: -10px;
}

.streaming-button {
  border-radius: 24px;
  background-color: rgb(0, 28, 64);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.listen-link {
  font-size: 24px;
  font-family: "Roboto Mono", monospace;
}

.flex-container {
  display: flex;
  align-items: flex-start;
}

.flex-child:first-child {
  margin-right: 16px;
}

.track-genre {
  margin-top: -14px;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
}

@media only screen and (max-width: 991px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .track-details {
    text-align: center;
  }

  .album-art {
    width: 240px;
    height: 240px;
  }

  .track-links {
    align-items: center;
    margin-top: -8px;
    flex-direction: column;
    display: flex;
  }

  .streaming-button {
    margin-bottom: 8px;
  }
}