<a href="{{ .RelPermalink }}" class="card blog-card{{ if not (.Resources.GetMatch "featuredImage") }} blog-card-text-only{{ end }}" rel="bookmark">
  {{ with .Resources.GetMatch "featuredImage" }}
  <div class="card-img-container" aria-hidden="true">
    {{ partial "responsive-image.html" (dict
      "image" .
      "class" "card-img"
      "alt" .Params.description
      "widths" (slice 400 800 1200)
      "sizes" "(min-width: 600px) 400px, 100vw"
    ) }}
  </div>
  {{- end }}
  <article class="card-body">
    <div class="card-subtext muted-text">
      {{ if isset .Params "date" }}<p><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>{{ end }}
      {{ if (isset .Params "categories") }}<p>{{ range .Params.categories }}{{ . | title }} {{ end }}</p>{{ end }}
      {{ range first 1 (.GetTerms "series") }}<p>{{ .Title }}{{ with $.Params.series_order }} · Part {{ . }}{{ end }}</p>{{ end }}
    </div>
    <h2 class="card-title">{{ .Title | markdownify }}</h2>
    <p class="card-text">{{ if (isset .Params "description") }}{{ index .Params "description" | htmlUnescape }}{{ else }}{{ .Summary | plainify | htmlUnescape }}{{ end }}</p>
    <span class="card-read-more">Read post</span>
  </article>
</a>
